{% extends 'base-template.html' %}

{% block content %}
    <form class="form-daftar" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-baris">
                <div class="form-field">
                    <p>JUDUL DONASI</p>
                    <p> {{ form.nama_donasi }} </p>
                </div>
                <div class="form-field">
                    <p>TIPE DONASI</p>
                    <p>{{ form.kategori_alasan }}</p>
                </div>
        </div>
        <div class="form-baris">
            <div class="form-field">
                <p>NAMA PEMOHON</p>
                <p>{{ form.nama_pemohon }}</p>
            </div>
            <div class="form-field">
                <p>EMAIL PEMOHON</p>
                <p>{{ form.email }}</p>
            </div>
        </div>
        <div class="form-baris">
            <div class="form-field">
                <p>NO TELP PEMOHON</p>
                <p>{{ form.nomor_telp }}</p>
            </div>
            <div class="form-field">
                <p>JUMLAH DONASI (Rp)</p>
                <p>{{ form.target_uang }}</p>
            </div>
        </div>
        <div class="form-baris">
            <div class="form-field">
                <p>BANK PEMOHON</p>
                <p>{{ form.bank }}</p>
            </div>
            <div class="form-field">
                <p>NOMOR REKENING</p>
                <p>{{ form.rekening }}</p>
            </div>
        </div>
        <div class="form-baris">
            <div class="form-field">
                <p>DESKRIPSI DONASI</p>
                <p>{{ form.deskripsi_alasan }}</p>
            </div>
        </div>
        <div class="form-baris">
            <div class="form-field">
                <p>DEADLINE</p>
                <p>{{ form.deadline }}</p>
            </div>
            <div class="form-field">
                <p>FOTO</p>
                <p>{{ form.image_donasi }}</p>
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>
{% endblock %}