{% extends 'base-template.html' %}

{% block content %}
<h1>{{ permohonan.nama_donasi }}</h1>
<img src="{{ permohonan.image_donasi.url }}" alt="image">
<div class="pemohon-deskripsi">
    <div class="pemohon-detail">
        <p>Nama pemohon: {{ permohonan.nama_pemohon }}</p>
        <p>Email: {{ permohonan.email }}</p>
        <p>Nomor telp: {{ permohonan.email }}</p>
    </div>
    <div class="deskripsi">
        <p>{{ permohonan.deskripsi_alasan }}</p>
        <p> 
            Rp. {{ permohonan.uang_terpenuhi }} / Rp. {{ permohonan.target_uang }}
        </p>
        <p>
            Deadline: {{ permohonan.deadline }}
        </p>
    </div>
</div>
{% endblock %}