

.form-daftar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-blue);
    height: 100vh;
    padding-top: 20px;
    font-weight: 600;
    color: white;
}
.form-field{
    text-align: center;
    margin: 20px;
}
.form-baris{
    display: flex;
}