{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static  'base.css' %}">
    <link rel="stylesheet" href="{% static  'homepage.css' %}">
    <link rel="stylesheet" href="{% static  'daftar-permohonan.css' %}">
    <link rel="stylesheet" href="{% static  'list-permohonan.css' %}">
    <title>Donatsi</title>
</head>
<body>
    <nav>
    <div>
        <a href="{% url 'homepage' %}"><p>RECOMMENDATIONS</p></a>
        <a href="{% url 'about' %}"><p>TENTANG KAMI</p></a>
        <a href="{% url 'permohonan:list-permohonan' %}"><p>LIHAT DONASI</p></a>
        <a href="{% url 'permohonan:daftar-permohonan' %}"><p>BUKA DONASI</p></a>
    </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>