{% extends 'base-template.html' %}
{% block content %}
<h1>HELLO THERE DONATors</h1>
<p>ini homepage</p>
<form method="GET" action="{% url 'permohonan:list-permohonan' %}">
    <input type="text" name="query" placeholder="cari donasi...">
    <input type="submit" value="Search">
</form>
{% if recommendations %}
<div class="recommendations">
    {% for permohonan in recommendations %}
    <div class="recommendation">
        <img src="{{ permohonan.image_donasi.url }}" alt="image">
        <h1>
            {{ permohonan.nama_donasi }}
        </h1>
        <p>
            Kategori: {{ permohonan.kategori_alasan }}
        </p>
        <p>
            Deskripsi: {{ permohonan.deskripsi_singkat }}
        </p>
        <p> 
            Rp. {{ permohonan.uang_terpenuhi }} / Rp. {{ permohonan.target_uang }}
        </p>
        <p>
            Deadline: {{ permohonan.deadline }}
        </p>

        <a href="{% url 'pemberian:daftar_pemberian' id=permohonan.id %}"><button>Donate</button></a>
        <a href="{% url 'permohonan:detail-permohonan' id=permohonan.id %}"><p class="permohonan-details">Details</p></a>

    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}